* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato Regular";
  src: url("./assests/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  src: url("./assests/fonts/Lato-Black.ttf");
  /* font-weight: 400; */
  font-style: normal;
}
@font-face {
  font-family: "Lato Light";
  src: url("./assests/fonts/Lato-Light.ttf");
  font-weight: 300;
}

body {
  width: 1020px;
  margin: 0 auto;
}
.singolo-2 {
  background-color: #f2f2f2;
}
.bg-color {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  padding: 60px 40px 0px 40px;
}

.portfolio {
  font-family: "Lato Black";
  font-size: 30px;
  color: #666d89;
  margin-bottom: 18px;
}

.singolo-2 .long-text {
  font-family: "Lato Light";
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 10px;
}

.buttons button {
  background: transparent;
  border-radius: 4px;
  color: #767e9e;
  font-size: 12px;
  height: 22px;
  margin-right: 6px !important;
  padding: 0px 6px;
  border: 1px solid #767e9e;
  outline: none;
}

.buttons button:hover {
  color: #dedede;
  cursor: pointer;
  border-color: #dedede;
}
.buttons {
  padding-bottom: 20px;
}

/* change */
.active {
  color: #dedede !important;
  border-color: #dedede !important;
}

.singolo-2 .row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.pic {
  padding-left: 16px;
}

.image-wrap img {
  padding-bottom: 16px;
}
.image-wrap img:nth-child(n + 13) {
  display: none;
}

.container .content h3 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 22px;
}
.container .content {
  padding-bottom: 34px;
}

.container {
  padding: 60px 40px;
  border-bottom: 6px solid #fff;
}

.face {
  display: flex;
}

.face article h3 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
  padding-bottom: 10px;
}
.face article p {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #767e9e;
  line-height: 20px;
  padding-bottom: 26px;
}
.face .box {
  padding-right: 16px;
}
.face .box img {
  padding-bottom: 8px;
}
.icons .fa {
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #666d89;
  margin-right: 4px;
}

.icons a:hover {
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}
