* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato Bold";
  src: url("./assests/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("./assests/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  src: url("./assests/fonts/Lato-Black.ttf");
  /* font-weight: 400; */
  font-style: normal;
}
@font-face {
  font-family: "Lato Light";
  src: url("./assests/fonts/Lato-Light.ttf");
  font-weight: 300;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 1020px;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 29.5px 40px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  justify-content: space-between;
  position: fixed;
  width: inherit;
  z-index: 9999;
}

header nav {
  align-self: flex-end;
}

li {
  display: inline-flex;
}
/* li:not(:last-child)::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #494e62;
  border-radius: 50%;

} */

.nav-links a {
  font-family: "Lato Bold";
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

ul :not(:last-child) {
  margin: 4.5px 10px;
}
ul .active {
  color: #f06c64;
}
ul :last-child {
  margin-left: 6px;
}
li a:not(.active):hover {
  color: #f06c64;
  cursor: pointer;
}

.singolo-logo {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Lato Regular", serif;
}

.singolo-logo span {
  color: #f06c64;
}

.main {
  padding-top: 95px;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  position: relative;
  transition: all 5s ease-in-out;
}

.carousel-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-66%);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  z-index: 2;
}

.carousel-btn-left {
  background-image: url("assests/images/chevron-left-solid.svg");
  margin-left: 40px;
}

.carousel-btn-right {
  right: 0;
  background-image: url("assests/images/chevron-right-solid.svg");
  background-position: right;
  margin-right: 40px;
}

.carousel-slide {
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 0;
}

.carousel-slide-1 {
  background-color: #f06c64;
  width: 100%;
  display: flex;
  border-bottom: 6px solid #ea676b;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.carousel-slide-2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #648bf0;
  border-bottom: 6px solid #5176db;
  overflow: hidden;
}

.carousel-slide-active {
  opacity: 1;
  z-index: 1;
}

.three-phones {
  margin-top: 43px;
  margin-left: 40px;
}

.vertical {
  display: flex;
  align-items: center;
  position: relative;
  left: 37px;
  top: -2px;
}

.horizontal {
  display: flex;
  align-items: center;
  position: relative;
  right: 36px;
  margin-top: -6px;
  margin-left: -4px;
}

#carousel .hidden {
  display: none;
}

#horizontal-black {
  position: absolute;
  background-color: #000000;
  width: 335px;
  height: 190px;
  pointer-events: none;
  border-radius: 4px;
  top: 13px;
  left: 59px;
}

#vertical-black {
  position: absolute;
  background-color: #000000;
  width: 190px;
  height: 335px;
  pointer-events: none;
  border-radius: 4px;
  right: 37px;
  top: 64px;
}

.turnoff-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  position: absolute;
}
.left-turnoff-btn {
  bottom: 7%;
  left: 37%;
}
.right-turnoff-btn {
  left: 2%;
  top: 36%;
}
.service {
  margin-bottom: 18px;
  margin-left: 39px;
  padding-top: 59px;
  font-family: "Lato Black";
  font-size: 30px;
  color: #666d89;
}
.services .content .long-text {
  padding: 0 40px;
  margin-bottom: 24px;
  font-family: "Lato Light";
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  word-spacing: 1px;
  line-height: 30px;
}

.row .box p {
  font-family: "Lato Regular";
  font-size: 12px;
  height: 60px;
  line-height: 20px;
  color: #666d89;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}

.box article h3 {
  line-height: 24px;
  margin-bottom: 8px;
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
}
.icon {
  border: solid 2px #666d89;
  border-radius: 50px;
  height: 59px;
  width: 59px;
  padding: 10px;
  margin-top: 4px;
  margin-right: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  width: 220px;
  height: 187px;
}

.portfolio-col {
  margin-bottom: 20px;
}

.portfolio-img {
  width: 100%;
  height: 100%;
}
.portfolio-row {
  width: 100%;
  justify-content: space-between;
}

.portfolio-img-active {
  border: 5px solid #f06c64;
}

.our-services-row {
  margin: 0px 30px;
}

.services .box {
  display: flex;
  width: 33.33%;

  padding: 0 10px;
  margin-bottom: 32px;
}
.services {
  padding-bottom: 31px;
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.bg-color {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  padding: 60px 40px 48px 40px;
}

.portfolio {
  font-family: "Lato Black";
  font-size: 30px;
  color: #666d89;
  margin-bottom: 18px;
}

.bg-color .long-text {
  font-family: "Lato Light";
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 10px;
  letter-spacing: 0.15px;
}
#about .long-text {
  font-family: "Lato Light";
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: justify;
}

.buttons button {
  background: transparent;
  border-radius: 4px;
  color: #767e9e;
  font-size: 12px;
  height: 22px;
  margin-right: 6px !important;
  padding: 0px 6px;
  border: 1px solid #767e9e;
  outline: none;
}

.portfolio-btn:hover {
  color: #dedede;
  cursor: pointer;
  border-color: #dedede;
}
.buttons {
  padding-bottom: 19px;
}

/* change */
.buttons .portfolio-btn-active {
  color: #dedede;
  border-color: #dedede;
}

.pic {
  padding-left: 16px;
}

.image-wrap img {
  padding-bottom: 16px;
}
.portfolio-row div:nth-child(n + 13) {
  display: none;
}

.container .content h2 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 22px;
}
.container .content {
  padding-bottom: 34px;
}

.container {
  padding: 62px 40px 65px;
  border-bottom: 6px solid #fff;
  background-color: #f2f2f2;
}

.face {
  display: flex;
}

.face article h3 {
  font-family: "Lato Black";
  color: #666d89;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}
.face article p {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #767e9e;
  line-height: 20px;
  padding-bottom: 26px;
  text-align: justify;
}
.face .box {
  padding-right: 18px;
}
.face .box img {
  padding-bottom: 10px;
}
.icons .fa {
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #666d89;
  margin-right: 4px;
}

.icons a:hover {
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}

.container-3 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  padding: 62px 40px 1px 40px;
  color: #f0d8d9;
}
.container-3 .content {
  padding-bottom: 34px;
}
.container-3 .content h2 {
  font-family: "Lato Black";
  font-size: 30px;
  line-height: 32px;
  padding-bottom: 20px;
}

.info-block {
  margin-top: -2px;
}

.info-block h3 {
  font-family: "Lato Black";
  font-size: 18px;
}
.contact-text p {
  font-family: "Lato Regular";
  font-size: 12px;
  line-height: 22px;
  margin-top: 9px;
  padding-bottom: 22px;
  word-break: break-all;
  hyphens: none;
  text-align: justify;
}

.container-3 .long-text {
  font-family: "Lato Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: justify;
}
input,
textarea {
  width: 100%;
  height: 38px;
  border: none;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #d6564f;
  outline: none;
  color: #f0d8d9;
}
.submit {
  margin-bottom: inherit;
  color: #f08688;
}
.submit:hover {
  color: #fff;
  font-weight: bold;
}
textarea {
  height: 202px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #f08688;
  font-family: "Lato Regular";
  font-size: 12px;
  text-indent: 4px;
}
form {
  width: 620px;
  margin-right: 20px;
}

.contact-block {
  margin-bottom: 8px;
}
.contact-row {
  display: flex;
}
.contact-info div {
  display: flex;
  font-family: "Lato Regular";
  font-size: 12px;
  line-height: 14px;
}
.contact-info div:nth-child(1) {
  margin-left: 2px;
}
.contact-info p {
  margin-top: 2px;
}
.contact-info a {
  margin-top: 2px;
  text-decoration: none;
  color: #f0d8d9;
}
.contact-info a:hover {
  font-weight: bold;
}
.contact-info .fas {
  font-size: 12px;
  margin: 4px 14px 6px 0px;
}

footer {
  background-color: #2d303a;
  padding: 22px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h5 {
  font-family: "Lato Light";
  font-size: 12px;
  color: #666d89;
  margin-top: -2px;
}
.fa {
  text-decoration: none;
  border: 1px solid #666d89;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #666d89;
}
.fa::before {
  line-height: 20px;
}

.social-media a:hover {
  color: #dedede;
  cursor: pointer;
  border-color: #dedede;
}
.social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
}

#message-block {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0008;
}
#message-block.hidden {
  display: none;
}
#message {
  position: absolute;
  top: 35%;
  left: 35%;
  border: 2px solid #dedede;
  border-radius: 5px;
  text-align: center;
  color: #666d89;
  background-color: #2d303a;
  width: 30vw;
  height: 40vh;
}
#message .message-paragraph {
  font-family: "Lato Black";
  font-size: 18px;
}
#message .result-subject,
.result-description {
  font-family: "Lato Regular";
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  word-wrap: break-word;
  margin: 10px;
}
#message span {
  color: white;
  font-size: 14px;
  font-weight: normal;
}
#message-block #close-btn {
  background-color: #2d303a;
  border: 2px solid #666d89;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  color: #666d89;
  font-family: "Lato Black";
  font-size: 15px;
  outline: none;
  top: 80%;
  left: 44%;
  position: absolute;
}

#message-block #close-btn:hover {
  color: #dedede;
  cursor: pointer;
  border-color: #dedede;
}
.nav-btn-toggle {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  color: white;
  width: 25px;
  height: 25px;
  display: none;
}

.fa-bars {
  font-size: 29px;
}

@keyframes slideLeftClose {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes slideLeftOpen {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}
@keyframes slideRightClose {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 100%;
  }
}
@keyframes slideRightOpen {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1019px) and (min-width: 768px) {
  body {
    width: 100%;
  }
  .carousel {
    height: 451px;
  }
  .carousel-btn-left {
    margin-left: 28px;
  }
  .carousel-btn-right {
    margin-right: 26px;
  }
  .carousel-btn {
    top: 51%;
  }
  .vertical img {
    width: 181px;
    height: 363px;
  }
  .vertical {
    top: 0;
    left: 27px;
  }
  #vertical-black {
    width: 144px;
    height: 252px;
    right: 28px;
    top: 48px;
  }
  .horizontal img {
    height: 181px;
    width: 363px;
  }
  .horizontal {
    right: 29px;
    margin-top: 2px;
  }
  #horizontal-black {
    width: 252px;
    height: 143px;
    top: 10px;
    left: 44px;
  }
  .three-phones {
    margin-left: 0;
    margin-top: 30px;
  }
  .three-phones img {
    width: 400px;
    height: auto;
  }
  .service {
    padding-top: 41px;
    margin-left: 40px;
  }
  .our-services-row .box {
    width: 50%;
    margin-bottom: 52px;
  }
  .services .content .long-text {
    margin-bottom: 16px;
  }
  .services {
    padding-bottom: 18px;
  }
  .bg-color .long-text {
    padding-bottom: 12px;
  }
  .buttons {
    padding-bottom: 28px;
  }
  .portfolio-col {
    margin-bottom: 17px;
  }
  .portfolio-img {
    width: 216px;
    height: auto;
  }
  .bg-color {
    padding-bottom: 46px;
  }
  .container {
    padding-top: 56px;
    padding-bottom: 68px;
  }
  .container .content {
    padding-bottom: 28px;
  }
  .container-3 {
    padding: 56px 40px 32px 40px;
  }
  .container-3 .content {
    padding-bottom: 15px;
  }
  .face .box img {
    padding-bottom: 5px;
  }
  .face article p {
    padding-bottom: 8px;
  }
  .face {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .face .box img {
    width: 100%;
  }
  .face .box {
    width: 31.9%;
    padding: 0px;
  }
  form {
    width: 441px;
    margin-right: 29px;
  }
  .contact-text p {
    word-break: normal;
    margin-top: 1px;
    line-height: 22.5px;
    padding-bottom: 9px;
  }
  input {
    margin-bottom: 12px;
    padding: 2px 0px 0px 4px;
  }
  textarea {
    margin-bottom: 12px;
    padding: 8px 0px 0px 5px;
    height: 159px;
    resize: none;
  }
  footer h5 {
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  body {
    width: 100%;
  }
  .main {
    padding-top: 71px;
  }
  .shadow {
    box-shadow: 0px 69px 0px 550px rgba(45, 48, 58, 0.6);
  }
  .menu-none {
    display: none;
  }
  .to-left {
    position: sticky;
    margin-left: -141px !important;
    z-index: 5;
  }
  #burger-menu {
    display: initial;
    position: fixed;
    left: 20px;
    top: 21px;
    transition: 0.4s linear;
    z-index: 5;
  }
  .fas {
    margin: none;
  }
  #logo {
    font-size: 19px;
    margin-bottom: 0;
    text-align: center;
    margin-left: 10px;
  }

  header {
    padding: 24.5px 40px;
    justify-content: center;
    border-bottom: none;
  }
  header nav {
    box-shadow: 0px 0 10px;
    position: fixed;
    height: 100%;
    width: 278px;
    background-color: #2d303a;
    left: 0;
    top: 0;
    padding: 227px 56px;
  }

  ul :not(:last-child) {
    margin-left: 7.5px;
  }
  ul :last-child {
    margin-left: 8px;
  }

  ul li {
    display: flex;
  }
  ul .active {
    color: #f06c64;
  }
  li a:not(.active):hover {
    color: #f06c64;
    cursor: pointer;
  }
  .nav-links a {
    font-size: 24px;
    margin-bottom: 24px;
    letter-spacing: -1px;
  }
  .carousel {
    height: 220px;
  }
  .carousel-btn-left {
    margin-left: 8px;
  }
  .carousel-btn-right {
    margin-right: 6px;
  }
  .carousel-btn {
    top: 52%;
  }
  .carousel-slide-1 {
    border-bottom: none;
  }
  .vertical img {
    width: 88px;
    height: 178px;
  }
  .vertical {
    top: -1px;
    left: 12.5px;
  }
  #vertical-black {
    width: 70px;
    height: 124px;
    right: 14px;
    top: 23px;
    border-radius: 2px;
  }
  .horizontal img {
    height: 88px;
    width: 178px;
  }
  .horizontal {
    right: 13px;
    margin-top: -2px;
  }
  #horizontal-black {
    width: 124px;
    height: 70px;
    top: 5px;
    left: 22px;
    border-radius: 2px;
  }
  .three-phones {
    margin-left: 0;
    margin-top: 20px;
  }
  .three-phones img {
    width: 180px;
    height: auto;
  }
  .service {
    padding-top: 26px;
    margin-left: 32px;
  }
  .our-services-row .box {
    padding: 0 3px;
    margin-bottom: 27px;
  }
  .services .content .long-text {
    margin-bottom: 11px;
    padding: 0 32px;
  }
  .services {
    padding-bottom: 2px;
    border-bottom: none;
  }
  .bg-color {
    border-bottom: none;
    padding: 43px 31px 27px 30px;
  }
  .bg-color .long-text {
    padding-bottom: 16px;
  }
  .buttons {
    padding-bottom: 26px;
  }
  .portfolio-col {
    margin-bottom: 17px;
  }
  .portfolio-img {
    width: 150px;
    height: auto;
  }
  .col-md-3 {
    width: 150px;
    height: 125px;
  }
  .portfolio-row div:nth-child(n + 9) {
    display: none;
  }

  .container {
    padding: 36px 30px 10px;
    border-bottom: none;
  }
  .container .content {
    padding-bottom: 45px;
  }
  .container-3 {
    padding: 48px 30px 36px 30px;
    border-bottom: none;
  }
  .container-3 .content {
    padding-bottom: 15px;
  }
  .container-3 .long-text {
    padding-bottom: 40px;
  }
  .face .box img {
    padding-bottom: 11px;
  }
  .face article p {
    padding-bottom: 7px;
  }
  .face {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .face .box img {
    width: 100%;
  }
  .face .box {
    width: 100%;
    padding: 0px;
  }
  .box .icons {
    padding-bottom: 33px;
  }
  form {
    width: 315px;
    margin-right: 29px;
  }
  .submit {
    height: 50px;
    margin-bottom: 25px;
  }
  .contact-text p {
    word-break: normal;
    margin-top: 1px;
    line-height: 22px;
    padding-bottom: 14px;
  }
  .contact-info .fas {
    padding-bottom: 3px;
    margin: 4px 11px 6px 0px;
  }
  input {
    margin-bottom: 12px;
    padding: 2px 0px 0px 3px;
  }
  textarea {
    margin-bottom: 9px;
    padding: 8px 0px 0px 3px;
    height: 159px;
    resize: none;
  }
  footer h5 {
    display: none;
  }
  footer {
    padding: 22px 112px;
  }

  .services .box {
    width: 100%;
  }

  .contact-row {
    flex-wrap: wrap;
  }
}
